<header>
  <nav
    class="flex items-center justify-between flex-wrap bg-blue-800 p-6 mb-12 text-center md:text-left"
  >
    <div class="flex items-center flex-shrink-0 text-white md:mr-6 md:mx-0 mx-auto">
      <a href="/">
        <span class="font-semibold text-xl tracking-tight text-white">MOVINDEX</span
        ></a
      >
    </div>
    <div class="block hidden">
      <button
        class="flex items-center px-3 py-2 border rounded text-blue-200 border-blue-400 hover:text-white hover:border-white"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><title>Menu</title><path
            d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg
        >
      </button>
    </div>
    <div class="w-full block flex-grow md:flex md:items-center md:w-auto">
      <div class="text-sm md:flex-grow mb-4 md:mb-0">
        <a
          href="/favorites"
          class="mt-4 inline-block md:mt-0 text-blue-200 hover:text-white mr-4"
        >
          FAVORITES <span class="js-fav-counter"></span>
        </a>
        <a
          href="/about"
          class="mt-4 inline-block md:mt-0 text-blue-200 hover:text-white mr-4"
        >
          ABOUT
        </a>
      </div>
      <div>
        <form class="flex items-center justify-center md:justify-start">
          <input
            class="bg-gray-200 p-2 rounded-l-lg"
            id="search-input"
            type="text"
            placeholder="Search..."
          />
          <button class="bg-blue-500 text-white p-2 rounded-r-lg" type="submit"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

