---
const user_cookie: any = Astro.cookies.get("user");
if (user_cookie.value !== "1") {
  return Astro.redirect("/login");
}
if (!Astro.request.url.endsWith("/")) {
  return Astro.redirect(Astro.request.url + "/");
}

import Layout from "../../layouts/Layout.astro";
import Movies from "../../components/Movies.astro";
---

<Layout title="Movies App">
  <main class="container px-5 mx-auto">
    <!-- {Astro.request.url.slice(-1)} -->
    <Movies {}/>
  </main>
</Layout>
