---
const user_cookie: any = Astro.cookies.get("user");
if (user_cookie.value !== "1") {
  return Astro.redirect("/login");
}
if (!Astro.request.url.endsWith("/")) {
  return Astro.redirect(Astro.request.url + "/");
}

import Layout from "../../layouts/Layout.astro";
import Movie from "../../components/Movie.astro";

const { pid } = Astro.params
---

<Layout title="Movies App">
  <main class="container px-5 mx-auto h-full">
    <Movie pid={pid} />
  </main>
</Layout>
