---
export interface Props {
	title: string;
}

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const { title, header = true } = Astro.props
const pathname = Astro.url.pathname.replace(/^\/|\/$/g, "")

const user_cookie: any = Astro.cookies.get("user");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col h-screen justify-between">
		{header && <Header />}
		<slot />
		<Footer />
	</body>
</html>
