---
export interface Props {
	title: string;
	showHeader?: boolean;
	logout?: boolean;
}

import Header from "../components/Header.astro";
import favs_arrter from "../components/favs_arrter.astro";
import "../styles/main.css";

const { title, showHeader = true, logout = true } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col h-screen justify-between">
		{showHeader && <Header />}
		<slot />
		<favs_arrter logout={logout}></favs_arrter>
	</body>
</html>

<script>
	addEventListener("DOMContentLoaded", (e) => {
		const fav_btns = document.querySelectorAll("[data-fav]");

		fav_btns.forEach((button) => {
			button.addEventListener("click", (e) =>
				handleFavClick(e.target as HTMLLinkElement)
			);
		});
	});

	const handleFavClick = (el: HTMLLinkElement) => {
		const data_fav: number = parseInt(el.getAttribute("data-fav") || "");
		console.log(data_fav);

		let favs = localStorage.getItem("favs");
		let favs_arr = favs ? JSON.parse(favs) : false;

		if (favs_arr) {
			if (favs_arr.indexOf(data_fav) == -1) favs_arr.push(data_fav);
			console.log(favs_arr);
			localStorage.setItem("favs", JSON.stringify(favs_arr));
		} else {
			localStorage.setItem("favs", JSON.stringify([data_fav]));
		}
	};
</script>
