---
export interface Props {
	title: string;
	showHeader?: boolean;
	logout?: boolean;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
	title,
	showHeader = true,
	logout = true,
}: { title: any; showHeader?: any; logout?: boolean } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col h-screen justify-between">
		{showHeader && <Header />}
		<slot />
		<Footer logout={logout} />
	</body>
</html>
